<!doctype html>
<html>
<head>
  <title>Amazon Price Tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  {% if session.get('user_id') %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/watchlist" class="navbar-left"><img style="max-width:40px; margin-top: 4px; margin-left: -6px;" src="../static/logo.png"></a>
          <a class="navbar-brand" href="/watchlist">Amazon Price Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/recommendation">Recommendations</a>
              </li>
            </ul>
            
              <ul class="nav navbar-nav navbar-right">  
              <li>
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <!-- show logout if there user is in the session -->
                <a class="nav-link" href="/logout">Log out</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}

{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
{% endwith %}

  
<link href="static/jquery.modal.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="static/jquery.modal.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
{% block content %} {% endblock %}
  
{% block JQ %}{% endblock %}
<br><br><br>
<footer id='foot-logo'> &copy; 2018: Amazon Price Tracker </footer>

</body>
<link rel='stylesheet', href='static/tracker.css'>
</html>