{% extends 'base.html' %}
{% block content %}

Please fill out the information below to change your password.
<form action='/change_password', method='POST' id='changeForm'>
    Existing Password*: <input type='password', id='old_password', name='old_password'><br>
    New Password*: <input type='password', id='new_password', name='new_password'><br>
    Re-enter Password*: <input type='password', id='new_password1', name='new_password1'><br>
    <input type='submit', id='change', value='Change Password'>
</form>

*required field

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/change_password.js"></script>


{% endblock %}