
{% extends 'base.html' %}
{% block content %}

<h1>Amazon Price Tracker</h1>

{% if session.get('user_id') %}
    <h3>Add an item by URL and set a price point</h3>
    <form action='/add_item', method='POST'>
        URL: <input type='text', id='url', name='url'><br>
        Price Point: <input type='number', id='threshold', name='threshold', step="0.01"><br>
        <input type='submit', id='add_item', value='Add item to Wishlist'>
    </form>
    <p><a href="/wishlist">View wishlist</a></p>
    <p><a href="/logout">Log out of your account</a></p>
{% else %}
    <h2>Register</h2>
    <form action='/register', method='POST' id='regForm'>
        Email: <input type='email', id='email', name='email'><br>
        Password: <input type='password', id='password', name='password'><br>
        <input type='submit', id='registration', value='Register for a new account'>
    </form>
    <h2>Log In</h2>
    <p><a href="/login">Log in to your account</a></p>
{% endif %}

{% endblock %}