{% extends 'base.html' %}
{% block content %}

{% if session.get('user_id') %}
    <!-- personalize welcome message -->
    Hi, {{ name }}! Below are a list of products we recommend for you:
    <ul id='recommendation_list'>
    {% for rec in recommendations %}
      <li id={{rec.recommendation_id}}>
          <b>{{rec.name}}</b><br>
          <img src = "{{ rec.image }}"><br>
          Current Price: ${{ rec.price }}<br>
          <a href="{{ rec.url }}">Buy now!</a></p>
      </li>
    {% endfor %}

{% else %}
    Welcome to Amazon Price Tracker 1.0!
    <div>Already has an account? <a href="/login">Log in</a></div>
    <div>Need an account? <a href="/register">Register</a></div>
{% endif %}

{% endblock %}

<!-- <form action='/add_rec' method='POST' id='add_rec{{ rec.recommendation_id }}'>
    <input type='number' id='rec_wanted{{ rec.recommendation_id }}' name='rec_wanted' step="1.00" required>
    <input type='submit' value='Add Item to Watchlist'>
</form> -->