{% extends 'base.html' %}
{% block content %}

<h1>Amazon Price Tracker</h1>

{% if session.get('user_id') %}
    Welcome, Yingying! Here is a list of things that you can do:
    <p><a href="/add_item">Add an item</a></p>
    <p><a href="/wishlist">View your watch list</a></p>
    <p><a href="/profile">View your profile</a></p>
    <p><a href="/logout">Log out of your account</a></p>

{% else %}
    <p>Already has an account? <a href="/login">Log in</a></p>
    <p>Need an account? <a href="/register">Register</a></p>
{% endif %}

{% endblock %}