{% extends 'base.html' %}
{% block content %}

{% if session.get('user_id') %}
    Welcome, Yingying! Here is a list of things that you can do:
    <div><a href="/add_item">Add an item</a></div>
    <div><a href="/watchlist">View your watch list</a></div>
    <div><a href="/divrofile">View your profile</a></div>
    <div><a href="/logout">Log out of your account</a></div>

{% else %}
    Welcome to Amazon Price Tracker 1.0!
    <div>Already has an account? <a href="/login">Log in</a></div>
    <div>Need an account? <a href="/register">Register</a></div>
{% endif %}

{% endblock %}