{% extends 'base.html' %}
{% block content %}


  <div class='sticky-top'>
    <b>Add another item</b>
      <form action='/add_item' method='POST' id='add_item_form'>
          Amazon URL: <input type='text' id='url_add' name='url_add' required><br>
          Wanted Price: <input type='number' id='threshold_add' name='threshold_add' step="1" required><br>
          <input type='submit' id='add_item' value='Watch item'>
      </form>
  </div>
  <h4>Your Current Watch List</h4>
  <ul id='product_list'>
    <div id='new_item'></div>
    {% for uprod in userproducts %}
      <div class='product_box' id={{uprod.product_id}}>
          <img src = "{{ uprod.image }}"><br>
          <span class='product_name'>{{uprod.product_name}}</span><br>
          Price: <span class='current_price'>${{ uprod.current_price }}</span><br>
          <!-- always show wanted price in 2 decimal places -->
          Wanted Price: $<span id='wanted_price{{ uprod.product_id }}'>{{ uprod.threshold }}</span><br>
          <a href="{{ uprod.url }}">Buy now!</a></p>

          <form action='/update' method='POST' id='update_form{{ uprod.product_id }}'>
            <input type='number' id='new_threshold{{ uprod.product_id }}' name='new_threshold' step="1.00" required>
            <input type='submit' id='update_threshold' value='Update wanted price'>
            <input type='button' id="remove_item{{ uprod.product_id }}" value='x'></span>
          </form> 
      </div>
    {% endfor %}
  </ul>


  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/js/watchlist.js"></script>

{% endblock %}