{% extends 'base.html' %}
{% block content %}

  <h2>Your Watch List</h2>

  <ul>
    {% for uprod in userproducts %}
      <li id={{uprod.product_id}}>
          <b>{{uprod.product_name}}</b><br>
          <!-- style image dimension using css -->
          <img src = "{{ uprod.image }}" height="300" width="200"><br>
          Current Price: ${{ uprod.current_price }}<br>
          <!-- always show wanted price in 2 decimal places -->
          Wanted Price: $<span id='wanted_price'>{{ uprod.threshold }}</span><br>
          <a href="{{ uprod.url }}">Buy now!</a></p>

          <form action='/update' method='POST' id='update_form'>
            <input type='number' id='new_threshold' name='new_threshold' step="1.00">
            <input type='hidden' id = 'product_id_update' name="product_id" value="{{ uprod.product_id }}">
            <input type='submit' id='update_threshold' value='Update wanted price'>
          </form> 
            <input type='hidden' name="product_id_remove" value="{{ uprod.product_id }}">
            <input type='button' id="remove_item{{ uprod.product_id }}" value='Remove item from wishlist'>

          </form>

      </li>
    {% endfor %}
  </ul>

<!--  <b>Add another item</b>
<form action='/add_item' method='POST'>
    Amazon URL: <input type='text' id='url' name='url' required><br>
    Wanted Price: <input type='number' id='threshold' name='threshold' step="1" required><br>
    <input type='button' id='add_item' value='Watch item'>
</form> -->

<a href='/add_item'>Add another item to your watchlist</a>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/js/watchlist.js"></script>

{% endblock %}